/* Reseta os estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* Estilo do corpo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    font-weight: 400;
    font-style: normal;
}

/* Estilo das imagens */
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav a {
    font-family: 'Roboto Slab', serif;
    font-size: large;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    color: #aaa;
    text-shadow: 2px 2px 5px rgb(23, 77, 201);
}

h2 {
    margin: 0;
    font-size: 2rem;
}

/* Estilo do main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    flex-grow: 1;
}

.section {
    padding: 20px;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

/* Estilo do conteúdo */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none;
    /* Remove setas padrão no Firefox e IE */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#333" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px 5px;
    cursor: pointer;
}

optgroup {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

option {
    padding: 10px;
}

/* Estilo do footer */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.dev-container div {
    opacity: 0.7;
}

/* Estilo responsivo */
@media (max-width: 599px) {
    img {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .section {
        width: 100%;
    }

    main {
        padding: 5px;
    }
}