<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Engenharia de Software</title>
  <link rel="stylesheet" href="../assets/css/prism.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
<header>
  <nav>
    <a href="https://cleitonferreira.github.io/engenharia-de-software">Engenharia de Software</a>
  </nav>
  <div>
    <h2>Artigos</h2>
  </div>
  <div>
  </div>
</header>
<main>
  <div></div>
  <section class="section">
    {{ content }}
  </section>
  <div></div>
</main>
<footer class="footer">
  </div>
  <div class="dev-container">
    <div>Created by</div>
    <div>Cleiton Ferreira | Software Engineer</div>
    <div>Copyright &copy; 2024 - All Rights Reserved</div>
  </div>
</footer>
<script src="../assets/js/prism.js"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
<script src="/assets/js/script.js"></script>
</body>

</html>